
.upload-preview {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  overflow: hidden;
  margin: 5px 0;
  display: inline-block;

  .upload-preview-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
  }

  .upload-preview-tip {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: .65rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 -1px 0 rgba(255, 255, 255, 0.75), 1px 0 0 rgba(255, 255, 255, 0.75), -1px 0 0 rgba(255, 255, 255, 0.75);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.25;
  }

  .file-item-delete {
    position: absolute;
    top: 0;
    right: 0;
    background: #ff4544;
    color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.1rem;
    text-align: center;
    border-radius: 0 2px 0 2px;
    cursor: pointer;
    opacity: .25;
    border: 1px solid #ee4140;
    z-index: 2;
  }

  &:hover .file-item-delete {
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75);
  }
}
