<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1236214_coksd5yfpxp.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <script src="./assets/js/lib/jquery-3.4.1.min.js"></script>
    <script src="./assets/js/lib/layer/layer.js"></script>
    <script src="./assets/js/lib/vue.js"></script>
</head>

<body>
